<p>
    <mat-toolbar color="primary">
        <span class="container">Mis clientes</span>
    </mat-toolbar>
</p>

<div class="container">
    
    <div id="buttonsWrapper">
        <mia-edit-columns [config]="tableConfig" [miaTable]="tableComp">
            <button mat-raised-button color="primary">Edit Columns</button>
        </mia-edit-columns>
    
        <button mat-fab color="primary" aria-label="Agregar cliente" (click)="openForm(null)">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <mia-table #tableComp [config]="tableConfig"></mia-table>
</div>