/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    background-color: white;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h4.mat-dialog-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: auto;
    position: relative;
}
@media screen and (max-width: 9999px) {
    .container {
        width: 75%;
    }
}
@media screen and (max-width: 1920px) {
    .container {
        width: 78%;
    }
}
@media screen and (max-width: 1366px) {
    .container {
        width: 88%;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: calc(100% - 42px);
    }
}